@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" media="all" href="../mystyle.css" />
    <style>
        body{
            background-image : linear-gradient(green,white);
        }

    </style>
</head>
<body>


<div class="text-center" >
    <h1 >Recensement De Pénalités </h1>
    <p d>Vister le site internet d'Orabank-Togo  <a href="https://www.orabank.net/fr/filiale/togo">Cliquez sur ce lien</a></p>
</div>

</body>